.cart-card-container{
    display : grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    gap: 2rem;
    border : 3px solid var(--btn-primary-color);
}

.product-img-container{
    height : 30rem;
    width : 100%;
}

.cart-product-detail-section{
    padding : 1rem;
}

.quantity-incr-decr-section{
    border : 3px solid var(--navbar-bg-color);
}

.incr-decr-span{
    padding : 0.8rem;
}

.incr-decr-span:hover{
    background-color : rgba(0, 0, 0, 0.239);
}