/* .filter-container{
    border : 3px solid blue;
} */

.filter-fixed-container{
    border : 3px solid green;
    height : 90vh;
    overflow: auto;
    position: fixed;
    width : 26rem;
}

.clear{
    text-decoration: underline;
}

.filter-option-container{
    padding : 0.8rem;
    border : 3px solid blueviolet;
    gap : 0.5rem;
    border-bottom: 3px solid black;
}