.filter-fixed-container{
    height : 85vh;
    overflow: auto;
    position: fixed;
    width : 26rem;
    padding : 0 1rem;
}

.filter-container{
    padding-right: 1rem;
}

.clear{
    text-decoration: underline;
}

.filter-option-container{
    padding : 0.8rem;
    gap : 0.5rem;
    border-bottom: 2px solid black;
}