.cart-wrapper {
  border: 3px solid black;
  max-width: 80%;
  margin: 0 auto;
}

.cart-grid {
  border: 3px solid red;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 2fr;
}

.cart-products-container {
  border: 3px solid yellow;
}

.cart-price-container {
  border: 3px solid purple;
}
