@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.navbar{
    border-bottom : 5px solid black;
    padding : 2rem;
    font-family: var(--component-heading-font);
    background-color : var(--navbar-bg-color);
    color : var(--primary-background-color);
}

.nav-icon-container{
    border : 3px solid var(--btn-primary-color);
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    height : 4.5rem;
    width : 4.5rem;
    font-size: 2rem;
    
}

.badge-on-nav-icon{
    display: flex;
    /* outline : 3px solid red; */
    border : 1px solid black;
    background-color : white;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    height : 1.2rem;
    width : 2rem;
    border-radius: 30%;
    top : 3px;
    right : 2px;
    background-color: var(--navbar-bg-color);
    font-size: 12px;
}

.navbar-title{
    font-family: 'Oswald', sans-serif;
}

.navbar-sticky{
    position: sticky;
    top : 0;
    z-index: 9999;
}

.mid-nav-links-container{
    gap : 1.5rem;
}

.right-nav-links-container{
    gap : 1.5rem;
}

.nav-link{
    cursor : pointer;
}

.navbar-user-icon{
    font-size: 3rem;
}