@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.navbar{
    border : 5px solid black;
    padding : 1rem;
    font-family: var(--component-heading-font);
    background-color : white;
    
}

.navbar-title{
    font-family: 'Oswald', sans-serif;
}

.navbar-sticky{
    position: sticky;
    top : 0;
    z-index: 800;
}

.mid-nav-links-container{
    gap : 1.5rem;
}

.right-nav-links-container{
    gap : 1.5rem;
}

.nav-link{
    cursor : pointer;
}

.navbar-user-icon{
    font-size: 3rem;
}