.product-card-container{
    width : 22rem;
    height : 30rem;
}

.product-card-brand-logo-container{
    right : 0;
    bottom : 0;
    border : 3.5px solid black;
    height : 4rem;
    width : 7rem;
    display : flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    background-color: var(--primary-background-color);
}

.temp-view{
    padding : 0.7rem;
}

.card-img-thumbnail{
    width : 100%;
    height : 25rem;
}

.card-product-name{
    font-size: 1.8rem;
    font-family: var(--component-heading-font);
}

.card-product-desc-container{
    padding : 0.5rem;
}

.size-orb{
    width : 23px;
    height : 23px;
    border : 3px solid var(--shoe-dog-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: var(--component-heading-font);
    font-size : 1.3rem;
}

.card-cart-wishlist-btn{
    padding : 0.5rem;
    margin : 0;
    margin : 0 0.3rem ;
}

.cart-wishlist-CTA{
    gap : 0.2rem;
}

.product-card-font{
    font-family: var(--component-heading-font);
}

.price-container{
    gap : 0.5rem;
}

.price-line-through{
    text-decoration: line-through;
}

.savings-percentage{
    color : var(--navbar-bg-color);
}

.each-product-img-container{
    height : 25rem;
    border-bottom: 3px solid var(--btn-primary-color);
}

.grid-item{
    position: relative;
    height : 38rem;
}

.product-detail-section{
    padding : 0.5rem;
}

.single-size-container{
    background-color : var(--navbar-bg-color);
    border-radius: 50%;
    height : 25px;
    width : 25px;
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items: center;
}

.product-card-CTA-section{
    /* padding : 0.3rem; */
}

.product-card-add-to-cart{
    flex-grow: 1;
    padding : 0.8rem 0.8rem;
    color : var(--btn-primary-color);
    background-color : var(--navbar-bg-color);
    /* font-family: var(); */
    font-family: var(--component-heading-font);
}

.product-card-add-to-cart:hover{
    background-color : #aa69dbc9;
}

.wishlist-container{
    top : 10px;
    right : 10px;
    background-color: var(--btn-primary-color);
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items: center;
    border-radius: 50%;
    height : 30px;
    width : 30px;
}

.wishlist-icon{
    color: var(--navbar-bg-color);
}

.out-of-stock-container{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    pointer-events: none;
    z-index: 999;
}

.out-of-stock-text{
    padding : 1rem;
  background-color: var(--btn-primary-color);
  color : var(--btn-primary-font-color);
}